<style>
        #item1{
            background-color: red;
        }
        div{
            background-color: yellow;
        }
        .item{
            background-color: rgb(92, 191, 117);
        }
        p{
        background-color: beige;
        }
    </style>